<footer id="main-footer" class="py-2">
  <div class="container footer-container">
    <div>
      <img src="/logo_light.png" alt="NewsGrid" />
      <p>News Grid provides the latest news today from India and the world. Get all
        exclusive Breaking News, current headlines, live news, latest news on business, sports, world, and entertainment
        with
        exclusive Opinions and Editorials.</p>
    </div>
    <div id="registration">
      <h3>For News Submission</h3>
      {{! <p>Submit your news here.</p> }}
      <a href="/form">Submit Here!</a>
    </div>
    <div>
      <h3>Site Links</h3>
      <ul class="list">
        <li><a href="#">Help & Support</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div>
      <p>
        Copyright &copy; 2021, All Rights Reserved
      </p>
    </div>
  </div>
</footer>