<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="News Grid provides the latest news today from India and the world. Get all
        exclusive Breaking News, current headlines, live news, latest news on business, sports, world, and entertainment
        withexclusive Opinions and Editorials.">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Lato|Staatliches" rel="stylesheet" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" media="screen and (max-width: 768px)" href="/mobile.css" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <title>NewsGrid | Latest News</title>
</head>

<body>

  {{>nav}}

  <!-- Showcase -->
  <header id="showcase">
    <div class="container">
      <div class="showcase-container">
        <div class="showcase-content">
          <div class="category category-sports">Sports</div>
          <h1>Some Sports Article</h1>
          <p>The International Cricket Council (ICC) interim CEO Geoff Allardice on Monday said that deciding the World
            Test
            Championship (WTC) in a best-of-three final is not a realistic idea in a crowded calendar.</p>
          <a href="/article" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Home Articles -->
  <section id="home-articles" class="py-2">
    <div class="container">
      <h2>Editor Picks</h2>
      <div class="articles-container">
        <article class="card">
          <img src="/articles/ent1.jpg" alt="" />
          <div>
            <div class="category category-ent">Entertainment</div>
            <h3>
              <a href="/article">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
              quam eius ducimus optio veniam sit nihil beatae ea autem.
              Doloribus.</p>
          </div>
        </article>
        <article class="card bg-dark">
          <div class="category category-sports">Sports</div>
          <h3>
            <a href="article.html">Olympics Tokyo may extend coronavirus curbs into Olympics period -media</a>
          </h3>
          <p>TOKYO, June 30 (Reuters) - Japan is considering an extension of its coronavirus prevention measures in
            Tokyo and other
            areas by two weeks to a month, Japanese media said, with less than a month to go until the Tokyo Summer
            Olympics are set
            to open.</p>
        </article>
        <article class="card">
          <img src="/articles/tech2.jpg" alt="" />
          <div class="category category-tech">Technology</div>
          <h3>
            <a href="article.html">The Microsoft-Apple tech war reignites for a new era</a>
          </h3>
          <p>A new clash of tech titans is taking shape as Apple Inc. and Microsoft Corp. reignite a feud that dates
            back to the formative days of the personal computer era.</p>
        </article>
        <article class="card">
          <div class="category category-sports">Sports</div>
          <h3>
            <a href="article.html">Lorem ipsum dolor sit amet</a>
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
            quam eius ducimus optio veniam sit nihil beatae ea autem.
            Doloribus.</p>
          <img src="/articles/sports1.jpg" alt="" />
        </article>
        <article class="card">
          <img src="/articles/tech1.jpg" alt="" />
          <div class="category category-tech">Technology</div>
          <h3>
            <a href="article.html">Germany Tells Its Ministries to Stop Using Facebook Pages Over Privacy Concerns</a>
          </h3>
          <p>German government organisations have until the end of the year to close their Facebook pages after the data
            protection
            commissioner found the social network had failed to change its practices to comply with German and European
            privacy
            laws.</p>
        </article>
        <article class="card bg-primary">
          <div class="category category-sports">Sports</div>
          <h3>
            <a href="article.html">Lorem ipsum dolor sit amet</a>
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
            quam eius ducimus optio veniam sit nihil beatae ea autem.
            Doloribus.</p>
        </article>
        <article class="card">
          <div>
            <div class="category category-ent">Entertainment</div>
            <h3>
              <a href="article.html">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
              quam eius ducimus optio veniam sit nihil beatae ea autem.
              Doloribus.</p>
          </div>
          <img src="/articles/ent2.jpg" alt="" />
        </article>
      </div>
    </div>
  </section>

  {{>footer}}

</body>

</html>